@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff !important;
}

.flip-container {
  /* width: 280px;
  height: 380px; */
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  perspective: 1000px;
  margin: 100px auto;
}

.flip-inner-container {
  position: relative;
  width: 80%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.flip-back {
  width: 280px;
  height: 300px;
  background: #dff1ff;
  padding: 20px 0 15px 0;
  border-radius: 23% 0% 25% 10% / 23% 0% 25% 0%;
}
.flip-back.two {
  background-color: #fcf6cee0;
}
.flip-back.three {
  background-color: #b6ddff;
}
.flip-back.four {
  background-color: #fad7d7;
}
.flip-inner-container.two {
  margin-top: 40px;
}

.profile-image {
  width: 130px;
  height: 130px;
  margin: 20px auto;
  perspective: 1000px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #ff6600;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.profile-image img.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.profile-image:hover img.front {
  transform: rotateY(180deg);
}

.profile-image:hover img.back {
  transform: rotateY(0deg);
}

.flip-back h2 {
  margin-top: 10px;
}

.flip-back p {
  font-size: 13px;
  font-weight: 500;
}

.flip-back ul {
  display: flex;
  margin: 20px 20px;
}

.flip-back ul a {
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 7px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: #ff6600;
  transition: all 0.6s;
}

.flip-back ul a:hover {
  color: #ff6600;
  border-color: #ff6600;
  background: linear-gradient(375deg, transparent, transparent);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .flip-inner-container {
    width: 86%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 20px;
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .flip-inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .flip-inner-container {
    width: 90%;
  }
}
